@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.footer a{
    font-family: 'Pacifico', cursive;
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.footer a:hover{
    color: var(--primary);
    transform: scale(1.1);
}
